!!! 5
%html
  %head
    %title Test
    = stylesheets :hig, :media => "screen"
    = javascripts('jquery', 'hig')
    %meta{:name=>"viewport", :content=> "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:charset=>"UTF-8"}
  %body
    .gnomelink
      %div
        %a{:href => 'http://www.gnome.org'} GNOME.org
    .contain
      %aside.sidebar
        %a{:href => '/', :class => 'smalllogo'}
          =img "gnome-logo.png", :class => 'foot'
          .punchline Human Interface Guidelines
        .menu
          = partial('menu')
      %article.main
        =typography do
          = yield
    #footerpositioner
      %hr.footerart
      #footer
        .contain
          = partial('menu')
          = partial('copy')
